<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset("styles/styles.css") }}"/>
</head>
<body>
{% block nav %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <nav>
            <input type="checkbox" id="navcheck" role="button" title="menu">
            <label for="navcheck" aria-hidden="true" title="menu">
                <h1>
                    Make a wish{% if user is defined %}, {{ user.firstName }}!{% endif %}
                </h1>
            </label>
            <div class="menu">
                <a href="{{ path("wish_index") }}">
                    Ma Wishlist
                </a>
                <a href="#">
                    Offrir un cadeau
                </a>
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('user_index') }}">
                        Gérer les utilisateurs
                    </a>
                {% endif %}
                <a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a>
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </div>
        </nav>
    {% endif %}
{% endblock nav %}

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% block fos_user_content %}{% endblock fos_user_content %}
{% block body %}{% endblock body %}
{% block javascripts %}{% endblock %}

</body>
</html>