{% extends 'base.html.twig' %}

{% block nav %}
    <nav>
        <h1><a href="{{ path("homepage") }}" title="Ma liste de vœux">Make a wish</a></h1>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}</a>
                {% if is_granted("ROLE_ADMIN") %}
                    | <a href="{{ path('user_index') }}">Gérer les utilisateurs</a></li>
                {% endif %}
                | <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
        </div>
    </nav>
{% endblock nav %}