{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <main>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'editor' } }) }}
        <article class="app-form">
            <header>Modifier mon mot de passe</header>
            <div>
                <div class="form-group">
                    {{ form_label(form.current_password, 'Mot de passe actuel', { 'attr': {'class': 'form-control'} }) }}
                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.plainPassword, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <footer>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" />
                <a href="{{ path('homepage') }}">Annuler</a>
            </footer>
        </article>
        {{ form_end(form) }}
    </main>
{% endblock fos_user_content %}
