{% extends 'base.html.twig' %}

{% block body %}
    <main>
        {{ form_start(edit_form, {'attr': {'class': 'editor'}}) }}
        <article class="wish {{ edit_form.vars.data.category.slug }}">
            <header>{{ edit_form.vars.data.category.name }}</header>
            <div id="wish">

                <div class="form-group">
                    {{ form_label(edit_form.title, 'Titre', { 'attr': {'class': 'form-control'} }) }}
                    {{ form_widget(edit_form.title, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.link, 'Lien', { 'attr': {'class': 'form-control'} }) }}
                    {{ form_widget(edit_form.link, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.description, 'Description', { 'attr': {'class': 'form-control'} }) }}
                    {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.category, 'Catégorie', { 'attr': {'class': 'form-control'} }) }}
                    {{ form_widget(edit_form.category, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.weight, 'Importance', { 'attr': {'class': 'form-control'} }) }}
                    {{ form_widget(edit_form.weight, { 'attr': {'class': 'form-control'} }) }}
                </div>

            </div>
            <footer>
                <input type="submit" value="Valider">
                <a href="{{ path('wish_show', { 'id': wish.id }) }}">Annuler</a>
            </footer>
        </article>
        {{ form_widget(edit_form) }}
        {{ form_end(edit_form) }}
    </main>
{% endblock %}
