{% extends 'logged.html.twig' %}

{% block body %}
    <main>
        {{ form_start(delete_form) }}
        <article class="wish {{ wish.category.slug }}">
            <header>
                {{ wish.category.name }}
            </header>
            <h2>
                {{ wish.title }}
            </h2>
            <h2>
                {{ wish.description | raw }}
            </h2>
            <footer>
                {% if wish.link is not empty %}
                    <a href="{{ wish.link }}" title="Lien vers &quot;{{ wish.title }}&quot;">Lien</a>
                {% endif %}
                <a href="{{ path('wish_edit', { 'id': wish.id }) }}">Modifier</a>
                <input type="submit" value="Supprimer">
            </footer>
        </article>
        {{ form_end(delete_form) }}
    </main>
{% endblock %}
